@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@import url(./pages-part/header.css);
@import url(./pages-part/profile.css);
@import url(./pages-part/support.css);
@import url(./pages-part/client.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --blackColor : #000;
    --whiteColor : #fff;
    --socialBg : #f2ebcf;
    --bannerBg : #f3f3e997;
    --socialHover : rgba(0, 0, 0, 0.404);
    --btnBg : #d8c056;
    --supportBg : #cbdfe0;
    --reviewBg : #f2ebcf;
    --subscribeBg : #84b9bd;
}