.blog__posts{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

.blog__posts .title{
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--blackColor);
}

.blog__posts .posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.blog__posts .post{
    width: 100%;
}
.post .post__image{
    width: 100%;
}

.post__image img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

.post .post__title{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}

.post__title h1{
    font-size: 3rem;
    font-weight: 500;
    color: var(--blackColor);
}

.post__title p{
    border-left: 2px solid var(--darkBlack);
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    width: 14rem;
    color: var(--darkBlack);;
}

.blog__posts .btn{
    text-align: center;
    padding-top: 2rem;
}

@media(max-width : 600px){
    .blog__posts{
        width: 90%;
    }
}

@media(max-width:500px){
    .blog__posts .posts{
        gap: 1rem;
    }
}