.client{
    background-color: var(--reviewBg);
    padding: 3rem 0;
    position: relative;
}

.client .client__contents{
    width: 70%;
    margin: 0 auto;
}

.slider__btn{
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider__btn button{
    font-size: 2.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--blackColor);
}

.slider__btn button i{
    pointer-events: none;
}

.slider__btn button:hover{
    color: var(--socialHover);
}

.client__contents h1{
    display: inline;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;   
    position: relative;
}

.client__contents h1::before{
    content: "";
    position: absolute;
    bottom: -0.4rem;
    right: -1.2rem;
    width: 6rem;
    height: 3px;
    background-color: var(--blackColor);
}

.client__contents .client__slider{
    padding-top: 4rem;
    overflow: hidden;
}

.client__contents .client__slider p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.8rem;
}

.client__slider .author{
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 1px;
}

@media(max-width : 990px){
    .client .client__contents{
        width: 90%;
    }

    .slider__btn{
        width: 90%;
    }
}

/* dots part  */
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 0.5rem;
}

.slick-dots .slick-active button{
    background-color: var(--btnBg);
}

.slick-dots li{
    list-style: none;
}

.slick-dots li button{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-indent: -1000em; 
    border: none;
    padding: 0.5rem;
    cursor: pointer;

}

@media(max-width : 600px){
    .slider__btn{
        display: none;
    }
    .client__contents .client__slider p {
        text-align: center;
        width: 90%;
    }
    
}