.company__logo{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 0;
}

.company__logo .title{
    text-transform: uppercase;
    display: inline;
    position: relative;
    padding-right: 1rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--blackColor);;
}

.company__logo .title::before{
    content: "";
    position: absolute;
    bottom: -0.3rem;
    right: 0;
    width: 3rem;
    height: 3px;
    background-color: var(--blackColor);
}

.company__logo .logos{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
}

.logos img{
    width: 10rem;
}

@media(max-width:950px){
    .company__logo .logos{
        width: 90%;
    }
}

@media(max-width:665px){
    .company__logo .logos{
        width: 90%;
        flex-wrap: wrap;
    }
    .company__logo{
        width: 90%;
    }
}